{% extends 'layout.html' %}

{% block body %}
	<h1>{{issue.title}}</h1>
	<small>Written by {{issue.author}} on {{issue.create_date}}</small>
	<hr>
	<div>
		{{issue.body | safe}}
	</div>
	<center><a class="btn btn-success" href="/viewer_reply/{{issue.id}}">Add a comment</a></center>
	<br>
	<table class="table table-bordered table-hover table-light text-center">
		<thead class="thead-dark">	
		<tr>
			<th>Comment</th>
			<th>Author</th>
			<th>Written on</th>
		</tr>
	</thead>
		{% for i in comment_list %}
			<tr>
				<td>
					{{i.comment | safe}}
				</td>
				<td>
					{{i.viewer}}
				</td>
				<td>
					{{i.create_date}}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}	